/* body{
  background-image: url("https://t4.ftcdn.net/jpg/05/87/86/31/360_F_587863174_ZCa1kWbOOb75skf5toJj6hkdwoenuokf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
} */